# npm
node_modules
package-lock.json

# build
main.js
main.js.map
*.js.map

# obsidian
data.json

# Intellij
.idea

# VS Code
.vscode

# macOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
